body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing {
  /* background-image: url('./assets/images/viktor-talashuk.jpg'); */
  background-color: black;
  min-height: 100vh;
  background-size: cover;
  padding: 0rem 5rem
}

img {
  transform: translate(30%, -10%);
}