@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.carousel {
  width: 50%;
  margin: 10rem auto;
  height: 570px;
}

.slide img {
  width: 20rem;
  margin: 0 auto;
}

.slide {
  transform: scale(0.2);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: black;
}

.landing {
  /* background-image: url('./assets/images/viktor-talashuk.jpg'); */
  background-color: black;
  min-height: 100vh;
  background-size: cover;
  padding: 0rem 5rem
}

img {
  transform: translate(180%, 0%);
  position: absolute;
  width: 20%;
}

.links-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.main-links {
  list-style: none;
  font-size: 3rem;
  /* position: absolute; */
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  text-align: center;
}

.main-links a {
  text-decoration: none;
  color: black;
}

.main-links li {
  padding: 1rem 3rem;
  background-color: rgb(243, 95, 120);
  margin: 10px;
}

.main-links li:hover{
  opacity: 0.2;
  background-color: greenyellow;
}

.contact-info p {
  color: white;
  display: flex;
  /* flex-direction: column; */
  text-align: center;
}

.Test {
  color: red;
}